/*alright*/
.fileimagescreen{
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    
    /*text specifics*/
    }

/*main body set up for the jaredpage#*/
.maintheme{
    background-color:black;
    /*text specifics*/
    color:white;
    font-size:12;
    /*margin*/
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:10%;

   }
/*needed for some reason*/
/*body,html{
height:100%;
width:100%;
}*/



/*okay this part is stuff that involves the pop up stuff lol*/
  
    /*jared ascii figure*/
    .smalljared{
        /*font*/
        font-size:16;
        text-align:center;
    }
    #mydiv {
      position: absolute;
      z-index: 9;
      background-color: #000000;
      text-align: center;
     /* border: 1px solid #d3d3d3;*/
      color: white;
      display: none; /* Initially hidden */
    }
    #mydivheader {
      right: 100px;
      cursor: move;
      z-index: 10;
      background-color: #000000;
      color: #fff;
    }


    #jareddiv {
      position: absolute;
      z-index: 9;
      background-color: #000000;
      text-align: center;
     /* border: 1px solid #d3d3d3;*/
      color: white;
    }
    #jareddivheader {
      right: 100px;
      cursor: move;
      z-index: 10;
      background-color: rgb(37, 150, 190);
      color: #fff;
    }











/*background image for front page*/
  .backgroundimage1{
    background-image: url('https://github.com/agonoude/jaredstory/blob/main/windowsbackground.png?raw=true');
    height: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
}

/*file image positioning on page 1*/
.imgpos1{
    margin-top:100px;
    margin-left:150px;
}

/*text information for jaredpages*/
.narratortext{
font-family:Cambria, serif;
font-size: 16;

overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 7.5s steps(1000, end);
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

/*jared text*/
.jaredtext{
/*text specifics*/
font-family: comicsansms;
text-align: center;
animation: typing 10s steps(1000,end);
}


/*response tags for player*/

/*parent div boxes*/
/*.float-parent-element { 
    width: 50%; 
}/*

/*child div boxes*/
.float-parent-element { 
        display:flex;
        justify-content: space-evenly;
       
        width:700px;
        margin:auto;
z-index:1;
} 

/*response tags*/

/*correct response*/
.yesresponse { 
    
    width:200px;
    margin:10px;
    position:relative;

     /*text information*/
     text-align: center;
     font-size:12;
     font-family:times new roman;
    /** background-color:rgb(46, 44, 44);**/
     color:white;

}

/*wrong response*/
.noresponse { 
        
        width: 200px;
        margin: 10px;
        position:relative;
    /*text information*/
    text-align: center;
    font-size:12;
    font-family:times new roman;
   /** background-color:rgb(46, 44, 44);**/
    color:white;
    z-index:2;
}

.jaredpopup{

z-index:3;
}

/*test for hover function*/
.divtest {
    
    padding: 20px;
    display: none;
  }

  .divtest2:hover + .divtest {
    display: block;
  }




  


/*.jaredspacing{
color:black;
font-family:comicsansms;
background-color: red;

}*/


/*jared ascii figure*/
.smalljared{
    /*font*/
    font-size:16;
    text-align:center;


}


/*test for hover function*/

.divtest {
 
    padding: 20px;
    display: none;
  }
    
  .divtest2:hover + .divtest {
    display: block;
  }




/*jared dancing*/
.spantest:before{
    content:'';
    animation:jareddance infinite 1s;
}

@keyframes jareddance {
    0%{
        content:'\005C\005C   \002F  \005C  \005C\005C ';
    }

    33%{
        content: ' // / \005C  \005C\005C';
    }

    66%{
        content: '  // / \005C   //';
    }

    100%{content:' \005C\005C   \002F  \005C   //'}

}
/*jared dance done do not touch anything above this*/

/*jared walking away to get tom do not touch */
.spanawayface:before{
    content:'';
    animation:jaredwalkawayface 30s;
    animation-fill-mode: forwards;
}
@keyframes jaredwalkawayface {
    0%{
        content:'\005C\005C(o.o)//';
    }
    50%{
        content: '\005C\005C(   )//';
    }
    100%{
        content: '\005C\005C(   )//';}
}

.spanawaybody1:before{
    content:'';
    animation:jaredwalkawaybody1 30s;
    animation-fill-mode: forwards;
}
@keyframes jaredwalkawaybody1 {
    0%{
        content:'\005C\005C  :  |';
    }
    50%{
        content: '  |    //';
    }
    100%{
        content: '  |    //';}
}

.spanawaybody2:before{
    content:'';
    animation:jaredwalkawaybody2 30s;
    animation-fill-mode: forwards;
}
@keyframes jaredwalkawaybody2 {
    0%{
        content:' | ;  |';
    }
    50%{
        content: ' |    |';
    }
    100%{
        content: ' |    |';}
}

/*jared walking away to get tom do not touch */



/*ok im gonna try to make jared blink for fun lol*/

/*blink*/
.blinkingbottom:before{
    content:'o';
    animation:jaredblinkbottom infinite 5s;
}

@keyframes jaredblinkbottom {
    0%{
        content:'o';
    }
    50%{
        content: '_';
    }

    100%{content:'o'}
}

.blinkingtop:before{
    content:'_';
    animation:jaredblinktop infinite 5s;
}

@keyframes jaredblinktop {
    0%{
        content:'_';
    }
    50%{
        content: ' ';
    }

    100%{content:'_'}
}


/*jared blinking done do not touch anything above this*/










/*toms shelf*/
.backgroundimage2{
    background-image: url('https://github.com/agonoude/jaredstory/blob/main/tomsportal.gif?raw=true');
    height: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
}



/*section for pop up :)*/
#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    cursor: move;
  }
    
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  #closeBtn {
    margin-top: 10px;
  }

  


  
